h1{
    color: black;
    text-align: center;
}

h2{
    color: black;
    margin-left: 37%;
    margin-bottom:0%;
}

p{
    text-align: center;
}

li{
    text-align: left;
    margin-left: 37%;
}

a{
    text-align: center;
}

.center{
    text-align: center;
    margin:auto;
}