h1{
    color: black;
    text-align: center;
}

h2{
    color: black;
    margin-left: 800px;
}

p{
    margin-left: 100px;
    text-align: left;
}

li{
    text-align: left;
    margin-left: 500px;
}

a{
    text-align: center;
}

.center{
    text-align: center;
}